---
- name: Download pkg
  get_url:
    url: "{{ fleet_amd64_url }}"
    dest: "/opt/{{ fleet_pkg_amd64 }}"
    mode: "0644"
  tags: packages
  ignore_errors: true
  no_log: true

- name: Install pkg
  ansible.builtin.apt:
    deb: "/opt/{{ fleet_pkg_amd64 }}"
  tags: packages
  ignore_errors: true
  no_log: true

